<div class="center hero-unit">
<<<<<<< HEAD
    <h1>Fancy Bear</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h2>
  La home page
  </h2>
  <%= link_to "Dar de Alta Usuario", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Dar de Alta Pieza", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), '#' %>


=======
  <h1>Sistema de Administración Talleres Syrat</h1>

  <h2>
    Inicio
  </h2>

  <%= link_to "Dar de Alta Usuario", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Dar de Alta Pieza", new_spare_part_path, class: "btn btn-large btn-primary" %>

</div>
>>>>>>> 9db73cf6116c96f90b8233240989e0dd73442a0e
