    <%= form_for(@spare_part) do |f| %>
      <%= render 'shared/errors_messages' %>

    <div class="form-group">
      <!-- <%= f.label :brand, "Marca" %> -->
      <%= f.text_field :brand, :placeholder => "Marca", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :car, "Carro" %> -->
      <%= f.text_field :car, :placeholder => "Carro", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :generation, "Generaci칩n" %> -->
      <%= f.text_field :generation, :placeholder => "Generaci칩n", :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :region, "Region" %> -->
      <%= f.text_field :region, :placeholder => "Region", :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :year, "A침o" %> -->
      <%= f.text_field :year, :placeholder => "A침o", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :name, "Nombre" %> -->
      <%= f.text_field :name, :placeholder => "Nombre", :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <!-- <%= f.label :type, "Tipo" %> -->
      <%= f.text_field :kind, :placeholder => "Tipo", :class => 'form-control'  %>
    </div>

      <%= f.submit "Guardar", :class => 'btn btn-default'%>
    <% end %>
