    <%= form_for(@sparePart) do |f| %>
      <%= render 'shared/errors_messages' %>

    <div class="form-group">
      <%= f.text_field :name, :placeholder => "Nombre", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :brand, :placeholder => "Marca", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :description, :placeholder => "Descripción", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :carRegion, :placeholder => "Región", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :parent_id, :placeholder => "Padre", :class => 'form-control' %>
    </div>

    <a href="#">Asignar a un Auto</a>

      <%= f.submit "Guardar", :class => 'btn btn-default'%>
    <% end %>
